<section class="testimonialsIntroPanel">
  <div class="testimonialsIntroPanel__inner">

    <h1 class="testimonialsIntroPanel__eyebrow">TESTIMONIALS</h1>

    <h2 class="testimonialsIntroPanel__title">
      Here's what our customers<br>have to say
    </h2>

  </div>
</section>

<section class="testimonialsWidget">
  <div class="testimonials__widgetWrap">
    <div class="sk-ww-google-reviews" data-embed-id="25643642"></div>
    <script src="https://widgets.sociablekit.com/google-reviews/widget.js" defer></script>
  </div>
</section>
