<section class="testimonialsIntroPanel">
  <div class="testimonialsIntroPanel__inner">

    <span class="testimonialsIntroPanel__eyebrow">TESTIMONIALS</span>

    <h2 class="testimonialsIntroPanel__title">
      Here's what our customers have to say
    </h2>

    <!-- <p class="testimonialsIntroPanel__lead">
      Real feedback from drivers who trust<br> 
      Eurofever Detailing with their vehicles.
    </p> -->
  </div>
</section>

<section class="testimonialsWidget">
  <div class="testimonials__widgetWrap">
     <!-- FIXME add github secret? -->
    <div class="sk-ww-google-reviews" data-embed-id="25643642"></div>
    <script src="https://widgets.sociablekit.com/google-reviews/widget.js" defer></script>
  </div>
</section>
