---
layout: null
---

<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-594EPWXZYK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-594EPWXZYK');
    </script>

    <meta property="og:image" content="{{ '/assets/media/services-intro-donnie.JPG' | relative_url }}" />

    {%- include head.html -%}
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">

    <!-- Site palette variables -->
    <style>
      :root{
        --color-carbon: {{ site.palette.carbon }};
        --color-anthracite: {{ site.palette.anthracite }};
      }
    </style>
  </head>

  <body class="landing">
    {%- include header.html -%}
    {%- include mobile-menu.html -%}

    <main aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}
      <script src="{{ '/assets/js/landing-header.js' | relative_url }}" defer></script>

  </body>
</html>
